In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
import pandas_profiling
from sklearn.metrics import accuracy_score, classification_report
from sklearn.preprocessing import StandardScaler
from sklearn import svm

In [2]:
dataset=pd.read_csv('cars.ORG.csv')

In [3]:
df=pd.DataFrame(dataset)
df.head(3)

,Dimensions.Height,Dimensions.Length,Dimensions.Width,Engine Information.Driveline,Engine Information.Engine Type,Engine Information.Hybrid,Engine Information.Number of Forward Gears,Engine Information.Transmission,Fuel Information.City mpg,Fuel Information.Fuel Type,Fuel Information.Highway mpg,Identification.Classification,Identification.ID,Identification.Make,Identification.Model Year,Identification.Year,Engine Information.Engine Statistics.Horsepower,Engine Information.Engine Statistics.Torque
0,140,143,202,All-wheel drive,Audi 3.2L 6 cylinder 250hp 236ft-lbs,True,6,6 Speed Automatic Select Shift,18,Gasoline,25,Automatic transmission,2009 Audi A3 3.2,Audi,2009 Audi A3,2009,250,236
1,140,143,202,Front-wheel drive,Audi 2.0L 4 cylinder 200 hp 207 ft-lbs Turbo,True,6,6 Speed Automatic Select Shift,22,Gasoline,28,Automatic transmission,2009 Audi A3 2.0 T AT,Audi,2009 Audi A3,2009,200,207
2,140,143,202,Front-wheel drive,Audi 2.0L 4 cylinder 200 hp 207 ft-lbs Turbo,True,6,6 Speed Manual,21,Gasoline,30,Manual transmission,2009 Audi A3 2.0 T,Audi,2009 Audi A3,2009,200,207

In [4]:
df_new=df[['Dimensions.Height','Dimensions.Length','Dimensions.Width','Engine Information.Number of Forward Gears',
          'Fuel Information.City mpg','Engine Information.Engine Statistics.Horsepower','Identification.Make']]

In [5]:
df_new.head(3)

,Dimensions.Height,Dimensions.Length,Dimensions.Width,Engine Information.Number of Forward Gears,Fuel Information.City mpg,Engine Information.Engine Statistics.Horsepower,Identification.Make
0,140,143,202,6,18,250,Audi
1,140,143,202,6,22,200,Audi
2,140,143,202,6,21,200,Audi

In [6]:
x=df_new.drop('Identification.Make',axis=1)
x

,Dimensions.Height,Dimensions.Length,Dimensions.Width,Engine Information.Number of Forward Gears,Fuel Information.City mpg,Engine Information.Engine Statistics.Horsepower
0,140,143,202,6,18,250
1,140,143,202,6,22,200
2,140,143,202,6,21,200
3,140,143,202,6,21,200
4,140,143,202,6,21,200
...,...,...,...,...,...,...
5071,13,253,201,5,18,250
5072,141,249,108,6,12,552
5073,160,249,108,6,12,552
5074,200,210,110,6,17,315
5075,200,94,110,6,17,315

In [7]:
y=df_new['Identification.Make']
y

0              Audi
1              Audi
2              Audi
3              Audi
4              Audi
           ...
5071          Honda
5072    Lamborghini
5073    Lamborghini
5074            BMW
5075            BMW
Name: Identification.Make, Length: 5076, dtype: object

In [8]:
X_train, X_test, y_train, y_test = train_test_split(x, y, train_size=0.75, random_state=0)

In [9]:
print(X_train.shape)

(3807, 6)

In [10]:
print(y_train.shape)

(3807,)

In [11]:
print(X_test.shape)

(1269, 6)

In [12]:
print(y_test.shape)

(1269,)

In [13]:
X_train.head()

,Dimensions.Height,Dimensions.Length,Dimensions.Width,Engine Information.Number of Forward Gears,Fuel Information.City mpg,Engine Information.Engine Statistics.Horsepower
3810,223,137,64,6,25,182
3923,105,72,227,5,13,317
390,137,215,62,6,21,200
1245,142,200,90,6,14,556
3739,135,53,24,8,16,416

In [14]:
# Normalize Features
scaler = StandardScaler()
scaler.fit(X_train)
X_train = scaler.transform(X_train)

In [15]:
for k in ('linear', 'poly', 'rbf', 'sigmoid'):
    model = svm.SVC(kernel=k)
    model.fit(X_train, y_train)
    y_pred = model.predict(X_train)
    print(k)
    print(accuracy_score(y_train, y_pred))

linear
0.3128447596532703
poly
0.5952193328079853
rbf
0.644602048857368
sigmoid
0.12897294457578146

In [16]:
# Using the best model
model = svm.SVC(kernel='rbf')
model.fit(X_train, y_train)

SVC()

In [17]:
# Accuracy on Testing Set
X_test = scaler.transform(X_test)
y_pred = model.predict(X_test)
print("Accuracy Score:", accuracy_score(y_test, y_pred))

Accuracy Score: 0.6272655634357762

In [18]:
print(classification_report(y_test, y_pred))

                    precision    recall  f1-score   support

               AMG       0.00      0.00      0.00         1
             Acura       0.00      0.00      0.00         6
      Aston Martin       1.00      1.00      1.00        13
              Audi       0.43      0.18      0.25        17
               BMW       0.67      0.49      0.56        37
      BMW Motorrad       0.67      0.67      0.67        12
           Bentley       1.00      1.00      1.00         3
             Buick       0.91      0.50      0.65        20
          Cadillac       0.59      0.90      0.71        48
         Chevrolet       0.55      0.71      0.62       160
          Chrysler       0.00      0.00      0.00         7
Chrysler Group LLC       0.00      0.00      0.00         2
             Dodge       0.72      0.73      0.72        63
              Ford       0.68      0.76      0.72       166
               GMC       0.49      0.43      0.46        99
    Grand Cherokee       1.00      0.40      0.57        10
             Honda       0.57      0.89      0.69        46
           Hyundai       0.44      0.62      0.51        47
          Infiniti       0.86      0.90      0.88        20
            Jaguar       1.00      0.69      0.82        13
              Jeep       0.90      0.88      0.89        32
               Kia       0.30      0.26      0.28        31
       Lamborghini       0.00      0.00      0.00         1
        Land Rover       1.00      0.22      0.36         9
             Lexus       0.56      0.50      0.53        10
           Lincoln       0.00      0.00      0.00        13
             Lotus       1.00      0.75      0.86         4
              MINI       0.86      1.00      0.93        19
          Maserati       1.00      0.50      0.67         4
           Maybach       1.00      1.00      1.00         1
             Mazda       0.45      0.57      0.51        40
          Mercedes       0.79      0.88      0.83        17
      Mercedes-AMG       0.00      0.00      0.00         2
     Mercedes-Benz       0.00      0.00      0.00         1
           Mercury       0.00      0.00      0.00         9
        Mitsubishi       0.67      0.40      0.50        10
            Nissan       0.87      0.83      0.85        66
           Porsche       0.78      0.64      0.70        11
       Rolls-Royce       0.00      0.00      0.00         2
              Saab       0.42      0.36      0.38        14
             Scion       0.00      0.00      0.00         6
            Subaru       0.50      0.38      0.43        21
            Suzuki       1.00      0.29      0.44        21
            Toyota       0.55      0.61      0.58        85
        Volkswagen       0.62      0.50      0.56        30
             Volvo       0.92      0.55      0.69        20

          accuracy                           0.63      1269
         macro avg       0.56      0.48      0.50      1269
      weighted avg       0.62      0.63      0.61      1269

D:\anaconda\lib\site-packages\sklearn\metrics\_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
D:\anaconda\lib\site-packages\sklearn\metrics\_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
D:\anaconda\lib\site-packages\sklearn\metrics\_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))